body {
  background: url('WhatsApp Image 2025-11-16 at 9.50.29 PM.jpeg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: sans-serif;
  background-color: lightblue;

}